{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_kickstart/course_notice

    Notice rendered above the course content, e.g. while an automatic template
    application is pending.

    Context variables required for this template:
    * message - Notice text.
    * type - Bootstrap alert type suffix: warning, danger or info.
    * haslink - Whether an action link is shown.
    * url - URL of the action link.
    * urltext - Text of the action link.

    Example context (json):
    {
        "message": "A course template will be applied to this course automatically.",
        "type": "warning",
        "haslink": true,
        "url": "https://example.com/admin/tool/task/adhoctasks.php",
        "urltext": "View scheduled task"
    }
}}
<div class="alert alert-{{type}} format-kickstart-course-notice" role="alert">
    {{message}}
    {{#haslink}}
        <a href="{{url}}" class="alert-link">{{urltext}}</a>
    {{/haslink}}
</div>
