{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template format_kickstart/help
    Template for the help page displayed to teachers.
    Example context (json):
    {
        "has_pro": true,
        "reactionurl_dislike": "http://moodleurl/course/format/kickstart/format.php"
    }
}}

<div class="help-block">
    <div class="kickstart-features mb-5">
        <h2 class="mb-3">{{#str}}help_kickstart_title, format_kickstart{{/str}}</h2>

        <div class="kickstart-block ml-5 mb-5">
            <p class="lh-base">{{#str}}help_kickstart_intro1, format_kickstart{{/str}}</p>
            <p class="lh-base">{{#str}}help_kickstart_intro2, format_kickstart{{/str}}</p>

            <h3 class="mt-5 mb-3">{{#str}}help_kickstart_features, format_kickstart{{/str}}</h3>
            <ul>
                <li>{{#str}}help_feature_templates, format_kickstart{{/str}}</li>
                <li>{{#str}}help_feature_courselibrary, format_kickstart{{/str}}</li>
                <li>{{#str}}help_feature_documentation, format_kickstart{{/str}}</li>
                <li>{{#str}}help_feature_studentview, format_kickstart{{/str}}</li>
                <li>{{#str}}help_feature_createfromcourse, format_kickstart{{/str}}</li>
            </ul>
        </div>
    </div>

    <div class="kickstart-features mb-5 pl-5">
        <h4 class="mb-3">{{#str}}help_coursetemplate, format_kickstart{{/str}}</h4>
        <p class="lh-base ml-6">{{#str}}help_coursetemplate_intro, format_kickstart{{/str}}</p>
        <p class="lh-base ml-6">{{#str}}help_coursetemplate_intro2, format_kickstart{{/str}}</p>

        <h5 class="mt-5 mb-3 pl-5">{{#str}}help_coursetemplate_features, format_kickstart{{/str}}</h5>
        <ul class="ml-4">
            <li class="mb-2">{{#str}}help_coursetemplate_feature_search, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_coursetemplate_feature_layout, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_coursetemplate_feature_manage, format_kickstart{{/str}}</li>
        </ul>

        <h5 class="mt-5 mb-3 pl-5">{{#str}}help_coursetemplate_howto, format_kickstart{{/str}}</h5>
        <ol class="ml-4">
            <li class="mb-2">{{#str}}help_coursetemplate_step_navigate, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_coursetemplate_step_clickkickstart, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_coursetemplate_step_select, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_coursetemplate_step_browse, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_coursetemplate_step_search, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_coursetemplate_step_manage, format_kickstart{{/str}}</li>
        </ol>
    </div>

    <div class="kickstart-features mb-5 pl-5">
        <h4 class="mb-3">{{#str}}help_courselibrary, format_kickstart{{/str}}</h4>
        <p class="lh-base ml-6">{{#str}}help_courselibrary_intro1, format_kickstart{{/str}}</p>
        <p class="lh-base ml-6">{{#str}}help_courselibrary_intro2, format_kickstart{{/str}}</p>
        <p class="lh-base ml-6">{{#str}}help_courselibrary_intro3, format_kickstart{{/str}}</p>

        <h5 class="mt-5 pl-5">{{#str}}help_courselibrary_purpose, format_kickstart{{/str}}</h5>
        <h6 class="mt-4 ml-3 mb-3 pl-5">{{#str}}help_courselibrary_helps, format_kickstart{{/str}}</h6>
        <ul class="ml-4">
            <li class="mb-2">{{#str}}help_courselibrary_item_import, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_courselibrary_item_find, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_courselibrary_item_details, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_courselibrary_item_customize, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_courselibrary_item_time, format_kickstart{{/str}}</li>
        </ul>

        <h5 class="mt-5 mb-3 pl-5">{{#str}}help_courselibrary_howto, format_kickstart{{/str}}</h5>
        <ol class="ml-4">
            <li class="mb-2">{{#str}}help_courselibrary_step_navigate, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_courselibrary_step_clickkickstart, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_courselibrary_step_select, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_courselibrary_step_search, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_courselibrary_step_import, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_courselibrary_step_contents, format_kickstart{{/str}}</li>
        </ol>
    </div>

    <div class="kickstart-features mb-5 pl-5">
        <h4 class="mb-3">{{#str}}help_studentview, format_kickstart{{/str}}</h4>
        <p class="lh-base ml-6">{{#str}}help_studentview_intro, format_kickstart{{/str}}</p>

        <ul class="ml-4">
            <li class="mb-2">{{#str}}help_studentview_notkickstart, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_studentview_kickstart, format_kickstart{{/str}}</li>
        </ul>

        <p class="lh-base ml-6">{{#str}}help_studentview_accuracy, format_kickstart{{/str}}</p>

        <h5 class="mt-5 pl-5 mb-3">{{#str}}help_purpose, format_kickstart{{/str}}</h5>
        <ul class="ml-4">
            <li class="mb-2">{{#str}}help_studentview_purpose_instructors, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_studentview_purpose_students, format_kickstart{{/str}}</li>
        </ul>

        <h5 class="mt-5 pl-5 mb-3">{{#str}}help_studentview_howto, format_kickstart{{/str}}</h5>
        <ol class="ml-4">
            <li class="mb-2">{{#str}}help_studentview_step_navigate, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_studentview_step_clickkickstart, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_studentview_step_preview, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_studentview_step_warning, format_kickstart{{/str}}</li>
        </ol>
    </div>

    <div class="kickstart-features mb-5 pl-5">
        <h4 class="mb-3">{{#str}}help_createfromcourse, format_kickstart{{/str}}</h4>

        <p class="lh-base ml-6">{{#str}}help_createfromcourse_intro, format_kickstart{{/str}}</p>

        <h5 class="mt-5 pl-5 mb-3">{{#str}}help_purpose, format_kickstart{{/str}}</h5>
        <ul class="ml-4">
            <li class="mb-2">{{#str}}help_createfromcourse_item_reusable, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_createfromcourse_item_consistent, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_createfromcourse_item_sharing, format_kickstart{{/str}}</li>
        </ul>

        <h5 class="mt-5 pl-5">{{#str}}help_createfromcourse_howto, format_kickstart{{/str}}</h5>
        <ol class="ml-4">
            <li class="mb-2">{{#str}}help_createfromcourse_step_navigate, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_createfromcourse_step_clickkickstart, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_createfromcourse_step_select, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_createfromcourse_step_form, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_createfromcourse_step_details, format_kickstart{{/str}}</li>
            <li class="mb-2">{{#str}}help_createfromcourse_step_created, format_kickstart{{/str}}</li>
        </ol>
        <h5 class="mt-5 pl-5">{{#str}}help_createfromcourse_summary, format_kickstart{{/str}}</h5>
        <p class="lh-base ml-6">{{#str}}help_createfromcourse_summarytext, format_kickstart{{/str}}</p>
    </div>
</div>
