    <div class="template-list kickstart-tile-view">
        <div class="card-deck mb-2 templates-block">
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Custom sections</h5>
                        <p class="card-text">test content of the block content</p>
                        <small class="text-muted">#tag1 #tag2</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary use-template">Use template</a>
                    <a href="#" class="btn btn-outline-primary pull-right">Preview</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Weekly sections</h5>
                        <p class="card-text">test content of the block content</p>
                        <small class="text-muted">#tag1 #tag2</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary use-template">Use template</a>
                    <a href="#" class="btn btn-outline-primary pull-right">Preview</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Custom sections</h5>
                        <p class="card-text">test content of the block content</p>
                        <small class="text-muted">#tag1 #tag2</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary use-template">Use template</a>
                    <a href="#" class="btn btn-outline-primary pull-right">Preview</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Weekly sections</h5>
                        <p class="card-text">test content of the block content</p>
                        <small class="text-muted">#tag1 #tag2</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary use-template">Use template</a>
                    <a href="#" class="btn btn-outline-primary pull-right">Preview</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Custom sections</h5>
                        <p class="card-text">test content of the block content</p>
                        <small class="text-muted">#tag1 #tag2</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary use-template">Use template</a>
                    <a href="#" class="btn btn-outline-primary pull-right">Preview</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Weekly sections</h5>
                        <p class="card-text">test content of the block content</p>
                        <small class="text-muted">#tag1 #tag2</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary use-template">Use template</a>
                    <a href="#" class="btn btn-outline-primary pull-right">Preview</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Custom sections</h5>
                        <p class="card-text">test content of the block content</p>
                        <small class="text-muted">#tag1 #tag2</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary use-template">Use template</a>
                    <a href="#" class="btn btn-outline-primary pull-right">Preview</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Weekly sections</h5>
                        <p class="card-text">test content of the block content</p>
                        <small class="text-muted">#tag1 #tag2</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary use-template">Use template</a>
                    <a href="#" class="btn btn-outline-primary pull-right">Preview</a>
                </div>
            </div>
        </div>
    </div>

    <div class="template-list kickstart-list-view">
        <div class="card-deck mb-2 templates-block">
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Custom sections</h5>
                        <p class="card-text">test content of the block content</p>
                        <small class="text-muted">#tag1 #tag2</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary use-template">Use template</a>
                    <a href="#" class="btn btn-outline-primary pull-right">Preview</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Weekly sections</h5>
                        <p class="card-text">test content of the block content</p>
                        <small class="text-muted">#tag1 #tag2</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary use-template">Use template</a>
                    <a href="#" class="btn btn-outline-primary pull-right">Preview</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Custom sections</h5>
                        <p class="card-text">test content of the block content</p>
                        <small class="text-muted">#tag1 #tag2</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary use-template">Use template</a>
                    <a href="#" class="btn btn-outline-primary pull-right">Preview</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Weekly sections</h5>
                        <p class="card-text">test content of the block content</p>
                        <small class="text-muted">#tag1 #tag2</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary use-template">Use template</a>
                    <a href="#" class="btn btn-outline-primary pull-right">Preview</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Custom sections</h5>
                        <p class="card-text">test content of the block content</p>
                        <small class="text-muted">#tag1 #tag2</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary use-template">Use template</a>
                    <a href="#" class="btn btn-outline-primary pull-right">Preview</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Weekly sections</h5>
                        <p class="card-text">test content of the block content</p>
                        <small class="text-muted">#tag1 #tag2</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary use-template">Use template</a>
                    <a href="#" class="btn btn-outline-primary pull-right">Preview</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Custom sections</h5>
                        <p class="card-text">test content of the block content</p>
                        <small class="text-muted">#tag1 #tag2</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary use-template">Use template</a>
                    <a href="#" class="btn btn-outline-primary pull-right">Preview</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Weekly sections</h5>
                        <p class="card-text">test content of the block content</p>
                        <small class="text-muted">#tag1 #tag2</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary use-template">Use template</a>
                    <a href="#" class="btn btn-outline-primary pull-right">Preview</a>
                </div>
            </div>
        </div>
    </div>

    <div class="kickstart-content-block">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        <div class="img-block">
            <img src="https://lmsacelab.com/img/img-3.png" alt="image">
        </div>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>